# Introduction

In this short, fun analysis, we will have a look at [Hans Lienesch's quest to rate all the instant ramen the world has to offer](https:\\www.ramenrater.com).

Personally, my current top three favourites are Indomie's Mi Goreng, Nongshim's Shin Ramyun and MyKuali's Penang White Curry Noodle. Let's see what he has to say about these ramen in his ratings!

In [47]:
# Initialisation

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('ticks')
plt.rc("axes.spines", top=False, right=False)

df = pd.read_excel('Dataset\The-Big-List-20210117.xlsx')

In [48]:
# A quick look at the dataframe
print(df.info())
print('\nNumber of rows with duplicates:', df.duplicated().sum(),'\n')
display(df.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3702 entries, 0 to 3701
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  3702 non-null   int64
 1   Brand     3702 non-null   object
 2   Variety   3702 non-null   object
 3   Style     3702 non-null   object
 4   Country   3702 non-null   object
 5   Stars     3702 non-null   object
 6   T         0 non-null      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 202.6+ KB
None

Number of rows with duplicates: 0

,Review #,Brand,Variety,Style,Country,Stars,T
2634,1068,Koka,Oriental Instant Noodles Stir Fried Noodles,Pack,Singapore,3.75,NaN
1953,1749,Yum Yum,Jumbo Instant Noodles Tom Yum Kung Creamy Flavour,Pack,Thailand,5,NaN
1604,2098,Nongshim,Kimchi Flavor Noodle Soup,Cup,United States,5,NaN
1510,2192,Nyor Nyar,Penang White Curry Instant Noodle,Pack,Malaysia,5,NaN
391,3311,Paldo,"Teumsae Ramen (9,413SHU)",Pack,South Korea,4,NaN

In [49]:
# Column T does not have anything
df.drop(labels='T', axis=1, inplace=True)

# 1. Which brand among those that Hans has eaten has the highest variety of flavours?

In [50]:
df.groupby(['Brand']).size().sort_values(ascending=False)

Brand
Nissin            476
Maruchan          131
Nongshim          119
Myojo             111
Samyang Foods     103
                 ...
Mitoku              1
Miracle Noodle      1
Migawon             1
Mie Sedaap          1
nunu                1
Length: 544, dtype: int64

In [51]:
# Joining tables
df_rereview = pd.read_excel('Dataset\The-Big-List-20210117.xlsx', sheet_name='Re-Reviewed', usecols=['Brand', 'Variety', 'Stars'])
df_rereview

              Brand                                            Variety  Stars
0          Nongshim                                        Shin Ramyun    3.0
1   Sapporo Ichiban                                          Chow Mein    4.5
2            Ottogi                                    Jin Ramen (Hot)    3.5
3         Quickchow                                     Pancit Palabok    2.5
4           Indomie         Special Curly Noodles With Grilled Chicken    5.0
..              ...                                                ...    ...
75            Myojo                                Ippei-chan Yakisoba    5.0
76         Nongshim                                      Kimchi Ramyun    4.0
77             Mama  Jumbo Pack Pork Flavour Oriental Style Instant...    3.5
78    Sakurai Foods          Sakurai Foods 100% Vegetarian Miso Flavor    4.5
79     Annie Chun's                       Ramen House Soy Ginger Ramen    2.0

[80 rows x 3 columns]